$font-stack: 'Fira Code', monospace;
$font-size: 16px;
$line-height: 21px;
$font-weight: 800;
$primary-color: #011627;

$color-border-main: #1e2d3d;
$color-light: #fff;
$color-gold: gold;
$color-grey: #9e9e9e;
$color-disabled: #ebebeb;
